<span class="span4 form-label {{ active ? 'active' : '' }}">
    <i class="icon icon-search"></i> {{ label | trans }} 
</span>

<input type="checkbox" name="{{ name }}" class="m-wrap span8" {{ value ? 'checked="checked"' : '' }} value="1" />
