<span class="span4 form-label {{ active ? 'active' : '' }}">
    <i class="icon icon-dollar"></i> {{ label | trans }}
</span>

<input type="text" name="{{ name }}" class="m-wrap span8" value="{{ value }}" />
